NetFxTestConsole/Connected Services/ServiceReference1/AuthService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NetFxCommonLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NetFxCommonLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthed" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserTicket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResult" nillable="true" type="tns:AuthResult" />
</xs:schema>